:root {
  /* Color */
  --white-color: #f5f6fa;
  --dark-gray-color: #747d8c;

  /* Size */
  --button-padding: 10px 20px;
  --border-radius: 15px;
}
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Font */

body {
  font-family: "Rubik", sans-serif;
}

.banner {
  font-family: "Courgette", cursive;
}

/* Header */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Header Title */

.header .header_title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Header Navigation */

.header .nav {
  display: flex;
}

.header .nav li {
  margin: 25px;
  font-weight: bold;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li:last-child {
  margin-right: 0;
}

/* Image Banner Section */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: var(--white-color);
  text-align: center;
}

/* Banner Image */

.banner .banner_image {
  background-image: url("../images/banner_image.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.banner .banner_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

/* Banner Title */

.banner .banner_title {
  font-size: 55px;
  margin-bottom: 30px;
}

/* Banner Sub Title */

.banner .banner_sub_title {
  font-size: 35px;
  margin-bottom: 40px;
}

/* Banner Button */

.banner .banner_button {
  font-size: 20px;
}

.banner .banner_button {
  background-color: var(--dark-gray-color);
  border-radius: var(--border-radius);
  padding: var(--button-padding);
}

/* About Section */

/* About Title */
.about .about_title {
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

/* About Content */
.about .about_content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .about_content li {
  padding: 30px;
  height: 330px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

/* About Content Image */

.about_content .about_content_image {
  background-image: url(../images/about_content_image.jpg);
  flex-basis: 43%;
}

/* About Content Text */

.about_content .about_content_text {
  flex-basis: 57%;
}

.about_content_text h2,
.about_content_text p {
  margin-bottom: 35px;
}

.about_content_text p {
  max-width: 800px;
}

/* About Button */

.about_content .about_content_text .about_button {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
}

/* Media Query */

/* 769px ~ 1024px */
@media screen and (max-width: 1024px) {
  /* Header */
  .header {
    padding: 30px;
  }
}

/* 481px ~ 768px */
@media screen and (max-width: 768px) {
  /* Header */
  .header {
    flex-direction: column;
  }

  .header .header_title {
    margin-bottom: 20px;
  }
  /* Banner Section */
  .banner {
    min-height: 600px;
  }

  .banner .banner_title {
    font-size: 45px;
    margin-top: 50px;
  }

  .banner .banner_sub_title {
    font-size: 25px;
  }

  /* About Section */
  .about_content .about_content_image,
  .about_content .about_content_text {
    flex-basis: 100%;
  }
}

/* ~ 480px */
@media screen and (max-width: 480px) {
  .header .nav li {
    margin: 10px;
  }
}
